*{
    /* border: 1px solid red; */
}

.container-fluid{
    padding-left: 0rem;
    margin-right: 0rem;

}

.navbar-brand{
    background-color: rgb(122, 161, 173);
    color: rgb(11, 11, 63) !important;
    padding-left: 5rem;
    padding-right: 2rem;
    flex-wrap: wrap !important;
    white-space: pre-wrap;
 }

.navbar-collapse {
    justify-content: flex-end !important;
    flex-grow: 3 !important;
}

/* HERO IMAGE */


.hero-image {
    width: 100%;
    background-image: url("../images/bg.jpg");
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

#profile-pic{
  align-self: flex-start;
  display: flex;
  max-width: 100vw;
  flex: 1 0 400px !important;
}

#hero-text{
    background-clip: padding-box;
    background-color:  rgb(122, 161, 173) ;
    margin-right: 5rem !important;
    align-self: flex-end;
    margin-left: 10%;
    margin-bottom: 1rem;
    margin-right: 5rem;
    padding: 1rem;
    color: rgb(11, 11, 63) !important;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50vw;
    max-width: 100vw;
    justify-content: flex-end;
}

/* MAIN STYLE */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

main section{
    width: 100%;
    max-height: fit-content !important;
    min-height: fit-content !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch !important;
    align-content: stretch !important;

}

.main-title{
    display: flex;
    max-width: 100vw;
    justify-content: flex-end;
    align-self: stretch;
    flex: 1 1 0;
}

.main-title h1{
    padding-right: 10px;
    margin-top: 20px;
}

.main-body{
    margin: 1rem;
    align-items: center;
    max-width: 100vw;
    min-height: fit-content;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 75vw;
}

.divider {
    padding-left: 5px;
    width: 2px;
    margin-top: 20px;
    margin-right: 20px;
    background: rgb(11, 11, 63);
    display: flex;
    align-self: stretch;
    max-height: 100vh;
}

.container{
    flex: 0 0 75vw;
}

.col-6 img:hover{
    opacity: .3;
  
}

.col-6 img{;
    border: 10px solid rgb(122, 161, 173) ;
    max-height: 25vh;
}

#first-project{
    min-width: 75vw;
    max-width: 100vw;
}

#first-project img{
    max-height: 50vh;
}
/* main{
    float: right;
} */

