/* NAV BAR/HEADER */

.container-fluid{
    padding-left: 0rem;
    margin-right: 0rem;

}

.navbar-brand{
    background-color: rgb(122, 161, 173);
    color: rgb(11, 11, 63) !important;
    padding-left: 5rem;
    padding-right: 2rem;
    flex-wrap: wrap !important;
    white-space: pre-wrap;
 }

.navbar-collapse {
    justify-content: flex-end !important;
    flex-grow: 3 !important;
}

/* HERO IMAGE */


.hero-image {
    width: 100%;
    background-image: url("../images/bg.jpg");
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

#profile-pic{
  align-self: flex-start;
  display: flex;
  max-width: 100vw;
  flex: 1 0 400px !important;
}

.text-box {
    background-clip: padding-box;
    background-color:  rgb(122, 161, 173) ;
    margin-right: 5rem !important;
    align-self: flex-end;
    margin-left: 10%;
    margin-bottom: 1rem;
    margin-right: 5rem;
    padding: 1rem;
    color: rgb(11, 11, 63) !important;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 50vw;
    max-width: 100vw;
    justify-content: flex-end;
}

/* MAIN STYLE */

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

main section{
    width: 100%;
    max-height: fit-content !important;
    min-height: fit-content !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch !important;
    align-content: stretch !important;

}

.main-title{
    display: flex;
    max-width: 100vw;
    justify-content: flex-end;
    align-self: stretch;
    flex: 1 1 0;
}

.main-title h1{
    padding-right: 10px;
    margin-top: 20px;
}

.main-body{
    margin: 1rem;
    align-items: center;
    max-width: 100vw;
    min-height: fit-content;
    align-self: flex-end;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 75vw;
}

.divider {
    padding-left: 5px;
    width: 2px;
    margin-top: 20px;
    margin-right: 20px;
    background: rgb(11, 11, 63);
    display: flex;
    align-self: stretch;
    max-height: 100vh;
}

/* .container{
    flex: 0 0 75vw;
} */

.col-6{
    border: 10px solid rgb(122, 161, 173) ;
    background-size: cover;
    background-position: center;
    height: 25vh;
    display: flex;
    padding: 0 !important;
    text-decoration: none !important;
    position: relative;
}

.col-6 a{
    position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none; /* No underlines on the link */
        z-index: 10; /* Places the link above everything else in the div */
}

.col-6:hover{
    opacity: .3;
  
}

.feature {
    position: relative;
}

.feature a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none; /* No underlines on the link */
    z-index: 10; /* Places the link above everything else in the div */
    background-color: #FFF; /* Fix to make div clickable in IE */
    opacity: 0; /* Fix to make div clickable in IE */
    filter: alpha(opacity=1); /* Fix to make div clickable in IE */
}

.text-box-container{
    padding: 0 !important;
    background-clip: padding-box;
    background-color:  rgb(122, 161, 173) ;
    align-self: center;
    color: rgb(11, 11, 63) !important;
    display: flex;
    flex-wrap: wrap;
    max-width: 20vw;
    justify-content: start;

}

#first-project{
    min-width: 75vw;
    max-width: 100vw;
    background-image: url(../images/surf-report.jpeg);
    min-height: 50vh;
}

#second-project{
    background-image: url(../images/LED-Wall.png);
}

#third-project{
    background-image: url(../images/calc.jpg);
}

#fourth-project{
    background-image: url(../images/pastel.jfif);
}

#fifth-project{
    background-image: url(../images/run.jpg);
}

.contacts{
    padding: 1rem !important;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contacts li{
    padding: 2rem !important;
}

